@import "imports";

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #676761;
    background-color: #f5f5ec;
}

a {
    color: #676761;
    text-decoration: none;

    &:hover {
        color: #676761;
        text-decoration: none;
    }

    &:focus {
        color: #676761;
        text-decoration: none;
    }
}

hr {
    border: 0;
    height: 1px;
    background: #f0f0e5;
    margin: 0 -20px;
}

p {
    line-height: 24px;
    margin-bottom: 18px;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 5px dashed;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.container > header {
    position: relative;
    margin: 50px 20px 20px 20px;

    .logo {
        float: left;

        h1 {
            width: 160px;
            font-weight: 600;
            font-size: 2.4rem;
            text-transform: uppercase;
        }
    }

    nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;

        ul.menu {
             & > li {
                float: left;
                position: relative;
                text-transform: uppercase;

                & + li {
                    margin-left: 17px;
                }

                &.current {
                    font-weight: 700;

                    & > a {
                        color: #202020;
                        text-decoration: underline;
                    }
                }

                a:hover, a:focus {
                    color: #202020;
                    text-decoration: underline;
                }

                button {
                    background: none !important;
                    border: none;
                    padding: 0 !important;
                    font: inherit;
                    cursor: pointer;
                    text-transform: uppercase;

                    &:hover, &:focus {
                        color: #202020;
                        text-decoration: underline;
                    }
                }
            }
        }

        ul.submenu {
            width: 200px;
            padding: 20px;
            display: none;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 30px;
            left: -20px;
            background-color: $color-white;
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
            -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
            box-shadow: 0 0 3px rgba(0,0,0,0.1);
            -webkit-transition: all .25s ease;
            -moz-transition: all .25s ease;
            -o-transition: all .25s ease;
            transition: all .25s ease;

            &.open {
                display: block;
                visibility: visible;
                opacity: 100;
            }

            & > li {
                width: 100%;

                &.current > a {
                    color: #202020;
                    text-decoration: underline;
                }

                & + li {
                    padding-top: 20px;
                }

                a {
                    display: block;
                }
            }
        }
    }
}

main {
    background-color: $color-white;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 17px;

    .breadcrumb {
        padding: 21px 20px 21px 20px;
        text-transform: uppercase;
        border-bottom: 1px solid #f0f0e5;
        margin-bottom: 0 !important; // Overwrite bootstrap!
        ul li {
            display: inline;

            a {
                font-weight: 700;
            }
        }

        ul li + li:before {
            content: "» ";
        }
    }

    .content {
        padding: 20px;

        h1.pagetitle {
            font-size: 3rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0 20px 20px 20px;
        }
    }
}

footer {
    span {
        float: right;
    }
}




.quote {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 300;

    h2 {
        font-size: 3rem;
        padding-bottom: 10px;
        letter-spacing: -1px;
    }

    p {
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}

section {
    header {
        padding: 20px;

        h1 {
            float: left;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 3rem;
        }

        span {
            float: left;
            font-size: 1.4rem;
            text-transform: uppercase;
            padding-left: 15px;
            padding-top: 14px;
        }

        a {
            float: right;
            padding-top: 14px;
            text-transform: uppercase;

            &:hover {
                color: #202020;
            }
        }
    }

    hr {
        margin-bottom: 20px;
    }
}

.post-content {
    padding: 0 40px 20px 40px;
}

.umb-grid {
    padding-top: 20px;
}

.table-wrapper {
    width: 600px;
    margin: auto;

    &.prospects {
        margin-top: 30px;
    }

    h2 {
        font-size: 2rem;
        margin: 20px 0 5px 5px;
    }
    
    table {
        width: 100%;
        -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
           -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);

        th {
            padding: 20px 10px 20px 10px;
            border-bottom: 1px solid #f0f0e5;
        }

        td {
            padding: 10px;
            border-bottom: 1px solid #f0f0e5;
            vertical-align: middle;

            &.image {
                width: 50px;

                img {
                    border-radius: 5px;
                }
            }
        }
    }
}

article {
    &:not(:first-child) {
        margin-top: 20px;
    }

    header h2 {
        font-size: 2rem;
        text-transform: uppercase;
        padding: 20px 0px 20px 20px;
        font-weight: 600;

        a:hover {
            color: #202020;
        }
    }

    .image {
        margin-left: -20px;
    }

    .post-content {
        padding-top: 30px;

        a.readmore {
            font-weight: 600;
            text-transform: uppercase;
            text-align: right;
            display: block;
        }

        p {
            margin-bottom: 18px;
        }
    }
}

.meta-info {
            padding-bottom: 4px;
            font-style: italic;
            color: #c0c0b5;
        }

.project-grid {
    margin-left: -20px;
    margin-right: -20px;

    .project-item {
        position: relative;
        width: 310px;
        height: 172px;
        float: left;
        background-color: black;
        overflow: hidden;

        &:hover img {
            -webkit-transform: scale(1.2);
                -ms-transform: scale(1.2);
                    transform: scale(1.2);
        }

        &:hover .overlay {
            opacity: 1;
        }

        &:hover h2 {
            opacity: 1;
        }

        .overlay {
            background-color: rgba(0, 0, 0, .5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
        }

        img {
            -webkit-transition: all .4s linear;
                    transition: all .4s linear;
        }

        h2 {
            -webkit-transition: all .4s ease-in;
                    transition: all .4s ease-in;
            opacity: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            padding: 10px;
            background: rgba(0,0,0,.6);
            text-transform: uppercase;
            color: #fff;
            text-align: center;
        }
    }
}

.form-horizontal {
    .validation-summary-errors {
        background-color: #a94442;
        color: white;
        padding: 12px;
        -webkit-border-radius: 4px;
           -moz-border-radius: 4px;
                border-radius: 4px;
        margin-bottom: 15px;
    }

    .field-validation-error {
        display: inline-block;
        margin: 3px 12px 0px 12px;
    }
    textarea {
        resize: none;
        
        &.form-control {
            height: 115px;

        }
    }
}

.message-form {
    margin-bottom: 20px;
}

.messages {
    h2 {
        font-size: 2rem;
        margin: 20px 0 5px 5px;
    }

    .message {
        padding: 10px;

        .member-name {
            font-weight: 600;
        }

        .meta-info {
            margin-left: 10px;
            font-size: 1.1rem;
        }

        .message-text {
            display: inline-block;
        }
    }
}

