@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
}

<h1 class="pagetitle">@Umbraco.Field("textPageHeader")</h1>
<div class="post-content">
	<p>@Umbraco.Field("textPageContent")</p>
</div>